.single-order {
  width: 80%;
  margin: auto;
  text-align: justify;
  padding: 40px;
}
.single-order-img img {
  width: 300px;
}
.single-order {
  padding: 20px;
}
.single-order h3 {
  color: maroon;
}
.single-order span {
  color: gray;
  font-size: 20px;
  font-weight: bold;
}
.single-order-delete-btn {
  text-align: center;
  padding: 20px 0;
}
.single-order-delete-btn button {
  background: maroon;
  padding: 8px 30px;
  border: none;
  color: white;
  border-radius: 5px;
  transition: 0.5s;
}
.single-order-delete-btn button:hover {
  background: black;
  color: white;
}
