.service-details-section {
  padding: 80px 0;
}
.details-section {
  background-color: rgb(245, 244, 244);
}
.details-section h1 {
  color: #0e0e0e;
  text-align: center;
  padding: 10px 0;
}

.image-section img {
  width: 200px;
}
.image-section {
  text-align: center;
}

.div {
  padding: 20px;
}
.div h3 {
  color: maroon;
}
.div span {
  color: gray;
  font-size: 20px;
  font-weight: bold;
}
.booking-form form {
  display: flex;
  flex-direction: column;
}
.booking-form form input {
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 7px;
  border: 1px solid rgb(211, 209, 209);
}
.booking-form h2 {
  text-align: center;
  color: maroon;
  letter-spacing: 3px;
  padding-bottom: 20px;
}
.form-sub-button {
  text-align: center;
}
.form-sub-button input {
  background-color: #0ebcd3;
  color: white;
  margin-top: 10px;
  letter-spacing: 2px;
  transition: 0.6s;
}
.form-sub-button input:hover {
  background-color: black;
  color: white;
}
/* form */
.booking-form input {
}
/* form button */
.form-btn {
  text-align: center;
  padding: 20px 0;
}
.form-btn button {
  background: #0ebcd3;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
.form-btn button:hover {
  background: black;
  color: white;
}
