.service-details-section {
  padding: 100px 0;
}
.details-section {
  background-color: rgb(245, 244, 244);
}
.details-section h1 {
  color: #0e0e0e;
  text-align: center;
  padding: 10px 0;
}
.image-section {
  margin-top: 90px;
}
.image-section img {
  width: 100%;
}
.div {
  padding: 20px;
}
.div h3 {
  color: maroon;
}
.div span {
  color: gray;
  font-size: 20px;
  font-weight: bold;
}
.form-sub-btn {
  text-align: center;
  margin: 10px 0;
}
.form-sub-btn button {
  background: #0ebcd3;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
.form-sub-btn button:hover {
  background-color: black;
}
