.details {
  padding: 50px 0;
}
.details-cart {
  margin: auto;
}
.details-cart p {
  text-align: justify;
}
.form-area {
  width: 50%;
  margin: auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 50px;
  margin-bottom: 50px;
}
.form-sub-btn {
  text-align: center;
}
.form-sub-btn button {
  background: #0ebcd3;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
.form-sub-btn button:hover {
  background-color: black;
}
