.services-section {
  padding-top: 100px;
}
.services-header {
  padding: 40px 0;
  text-align: center;
}
.services-header h1 {
  letter-spacing: 4px;
  text-transform: uppercase;
}
.services-header h4 {
  color: maroon;
  font-weight: bold;
}
.services-header hr {
  width: 13%;
  height: 4px;
  margin: auto;
}
.services-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.services-card img {
  width: 100%;
  height: 250px;
}
